@model fq540TenK.Models.Project
@{
    ViewBag.Title = "Project Details";
}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">@Model.name - Project Details</li>
    </ol>
    <hr />
    <div class="col-md-6">
        <h4>Project Details:</h4>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Project Name:</th>
                <td>@Model.name</td>
            </tr>
            <tr>
                <th>Project ID:</th>
                <td>@Model.id</td>
            </tr>
            <tr>
                <th>Starts At:</th>
                <td>@Model.starts_at.Date.ToString("MMMM dd, yyyy")</td>
            </tr>
            <tr>
                <th>Ends At:</th>
                <td>@Model.ends_at.Date.ToString("MMMM dd, yyyy")</td>
            </tr>
        </table>
        </div>
        <div class="col-md-6">
            @if (!Model.children.empty)
            {
                <h4>Phases:</h4>
                <div class="list-group">
                    @foreach (var phase in Model.children.data)
                    {
                        <a href="@Url.Content("~/project/")@Model.id/phase/@phase.id/" class="list-group-item">@phase.phase_name</a>
                    }
                </div>
            }
        </div>
</div>
@{ Html.RenderAction("GetAssignmentsByProjectIdPartial", "Assignment", new { projectId = Model.id }); }
@{ Html.RenderAction("AddAssignmentPartial", "Assignment", new { projectId = Model.id }); }
   