@model List<fq540TenK.Models.User>
<div class="addAssignmentPartialContent">
    <div class="row row-content">
        <hr />
        <div class="col-md-12">
            <h4>Batch Assign Resources:</h4>
            <input id="resource-search" name="search" placeholder="Start typing here..." type="text" data-list=".resource-list">
            <ul class="resource-list">
                @foreach (var user in Model)
            {
                    <li data-user-id="@user.id"><span class="glyphicon glyphicon-plus-sign"></span> @user.first_name @user.last_name</li>
                }
            </ul>
        </div>
        <div class="col-md-12">
            <div class="well hidden" id="resource-search-bucket" style="margin-top: 10px;">
                <ul class="resource-bucket-list"></ul>
                <button type="button" id="add-user-trigger" class="btn btn-primary" style="margin-top: 10px;"><span class="glyphicon glyphicon-plus-sign"></span> Add Resources</button>
            </div>
        </div>
        <!-- Batch Add Modal -->
        @using (Html.BeginForm("Add", "Assignment", FormMethod.Post, new { id = "addAssignmentForm" }))
        {
            <div class="modal fade" id="batch-add-modal" tabindex="-1" role="dialog" aria-labelledby="batch-add-modal-label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="batch-add-modal-label">Batch Add Resources to Project/Phase</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Resources To Be Assigned to @ViewBag.assignableId</h5>
                                    <input type="hidden" name="project_id" value="@ViewBag.projectId" />
                                    <input type="hidden" name="phase_id" value="@ViewBag.phaseId" />
                                    <ul class="add-assignment-modal-list"></ul>
                                    <input type="hidden" name="users" value="none" />
                                    <hr />
                                    <h5><b>Allocation Type & Amount:</b></h5>
                                </div>
                                <div id="allocationModeSelect">
                                    <div class="col-md-4">
                                        <label>
                                            <input type="radio" name="allocation_mode" value="percent" id="add-percent" required />
                                            Percent
                                        </label>
                                        <input type="text" name="add-amount-percent" class="add_allocation_input" id="add-amount-percent" size="2" disabled> %
                                    </div>
                                    <div class="col-md-4">
                                        <label>
                                            <input type="radio" name="allocation_mode" value="hours-per-day" id="add-hours-per-day" required />
                                            Daily
                                        </label>
                                        <input type="text" name="add-amount-hours-per-day" class="add_allocation_input" id="add-amount-hours-per-day" size="2" disabled> hrs
                                    </div>
                                    <div class="col-md-4">
                                        <label>
                                            <input type="radio" name="allocation_mode" value="fixed" id="add-fixed" required />
                                            Total
                                        </label>
                                        <input type="text" name="add-amount-fixed" class="add_allocation_input" id="add-amount-fixed" size="2" disabled> hrs
                                    </div>
                                    <input type="hidden" name="allocation_amount" id="add_allocation_amount" value="none" />
                                </div>
                                <div class="col-md-6" style="margin-top:15px;">
                                    <label for="start_time">Start Time</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control add-start-time" name="start_time" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                    <h5><a href="#" class="align_start" id="add-modal">[Align Start]</a></h5>
                                </div>
                                <div class="col-md-6" style="margin-top:15px;">
                                    <label for="end_time">End Time</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control add-end-time" name="end_time" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                    <h5><a href="#" class="align_end" id="add-modal">[Align End]</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" id="add-commit-submit" class="btn btn-primary">Commit Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
