@using System.Linq
@model List<fq540TenK.Models.ProjectAssignee>

<hr />
@if (!Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            <h4>There are no resources currently assigned to this project/phase.</h4>
            <p>Consider using the "Batch Assign Resources" tool below to add one or many resources (users) to this project/phase.</p>
        </div>
    </div>
}
else {
    <div class="row">
        <div class="col-md-12">
            <h4>Currently Assigned:</h4>
                <span>Batch Edit: <button class="btn btn-disabled batchEditButton" data-toggle="modal" data-target="#batch-edit-modal" disabled>None Selected</button> | <a href="#" class="selectAllAssigned">Select All</a> / <a href="#" class="selectNoneAssigned">Select None</a></span>
                    @foreach (var assignee in Model)
                    {
                        <h5><b>@assignee.display_name</b> | 
                        @if (assignee.discipline != null) {@assignee.discipline} 
                        @if (assignee.role != null) {@assignee.role} 
                        User ID: @assignee.id</h5>
                   
                        if (!assignee.assignments.empty)
                        {
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <td rowspan="1" style="border-left: 1px solid white; border-top:1px solid white;"></td>
                                    <th>ID</th>
                                    <th>Mode/Type</th>
                                    <th>Amount</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <td rowspan="1" style="border-right:1px solid white; border-top: 1px solid white;"></td>
                                </tr>
                                @foreach (var assignment in assignee.assignments.data)
                                {
                            if (assignment.assignable_id == ViewBag.assignableId)
                            {
                                        <tr>
                                            <th scope="row" style="text-align: center;">
                                                <input type="checkbox"
                                                       class="currentlyAssigned"
                                                       data-name="@assignee.display_name"
                                                       data-id="@assignment.id"
                                                       data-allocation-mode="@assignment.allocation_mode"
                                                       data-hours-per-day="@assignment.hours_per_day"
                                                       data-user-id="@assignment.user_id"
                                                       data-assignable-id="@assignment.assignable_id"
                                                       data-ends-at="@assignment.ends_at"
                                                       data-start-at="@assignment.starts_at"
                                                       data-bill-rate="@assignment.bill_rate"
                                                       data-bill-rate-id="@assignment.bill_rate_id"
                                                       data-repetition-id="@assignment.repetition_id"
                                                       data-created-at="@assignment.created_at"
                                                       data-updated-at="@assignment.updated_at"
                                                       data-all-day-assignment="@assignment.all_day_assignment"
                                                       data-fixed-hours="@assignment.fixed_hours"
                                                       data-percent="@assignment.percent" />
                                            </th>
                                            <td>@assignment.id</td>
                                            @if (assignment.allocation_mode == "fixed")
                                            {
                                                <td>Fixed</td>
                                                <td>@assignment.fixed_hours hrs</td>
                                            }
                                            else if (assignment.allocation_mode == "percent")
                                            {
                                                <td>Percent</td>
                                                <td>@(assignment.percent * 100)%</td>
                                            }
                                            else
                                            {
                                                <td>Hours Per Day</td>
                                                <td>@assignment.hours_per_day hrs/day</td>
                                            }
                                            <td>@assignment.starts_at.Date.ToString("MMMM dd, yyyy")</td>
                                            <td>@assignment.ends_at.Date.AddDays(-1).ToString("MMMM dd, yyyy")</td>
                                            @using (Html.BeginForm("DeleteAssignment", "Assignment", FormMethod.Post, new { id = "delete-"+assignment.id}))
                                            {
                                                <input type="hidden" name="assignment_id" value="@assignment.id">
                                                <input type="hidden" name="user_id" value="@assignee.id">
                                                <input type="hidden" name="project_id" value="@ViewBag.projectId">
                                                <input type="hidden" name="phase_id" value="@ViewBag.phaseId">
                                                <td class="delete-resource">
                                                    <div class="delete-resource-x" data-assignment-id="@assignment.id">
                                                        <div class="front"><span class="glyphicon glyphicon-remove"></span></div>
                                                        <div class="back"><a href="javascript:document.getElementById('delete-@assignment.id').submit()"><span class="glyphicon glyphicon-question-sign" data-assignment-id="@assignment.id"></span></a></div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </table>

                        }

                    }
                    <span>Batch Edit: <button class="btn btn-disabled batchEditButton" data-toggle="modal" data-target="#batch-edit-modal" disabled>None Selected</button> | <a href="#" class="selectAllAssigned">Select All</a> / <a href="#" class="selectNoneAssigned">Select None</a></span>
                </div>
            </div>
            Html.RenderAction("GetAssignmentsFormModalPartial", "Assignment", new { projectId = ViewBag.projectId, phaseId = ViewBag.phaseId });
}
