@{
    ViewBag.Title = "Home Index";
}
@model List<fq540TenK.Models.Project>
<h4>Project List:</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover tablesorter" id="project-list">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Client Name</th>
                    <th>Creation Date</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr data-project-id="@project.id">
                        <td>
                            @if (project.client != null)
                            {
                                @project.client
                            }
                            else {
                                @:No Client Specified
                            }
                        </td>
                        <td>@project.name</td>
                        <td>@project.created_at.Date.ToString("MMMM dd, yyyy")</td>
                        <td>@project.updated_at.Date.ToString("MMMM dd, yyyy")</td>
                    </tr>
                }
            </tbody>    
        </table>
    </div>
</div>

