@model fq540TenK.Models.Project
@{
    ViewBag.Title = "Phase Details";
}


<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Content("~/project/")@Model.parent_id/">@Model.name</a></li>
        <li class="active">@Model.phase_name - Phase Details</li>
    </ol>
    <hr />
    <div class="col-md-8">
        <h4>Phase Details:</h4>
        <table class="table table-bordered">
            <tr>
                <th>Phase Name:</th>
                <td>@Model.phase_name</td>
                <th>Starts At:</th>
                <td>@Model.starts_at.Date.ToString("MMMM dd, yyyy")</td>
            </tr>
            <tr>
                <th>Phase ID:</th>
                <td>@Model.id</td>
                <th>Ends At:</th>
                <td>@Model.ends_at.Date.ToString("MMMM dd, yyyy")</td>
            </tr>
        </table>
        @if (!Model.children.empty)
        {
            <h4>Phases:</h4>
            <div class="list-group">
                @foreach (var phase in Model.children.data)
                {
                    <a href="#" class="list-group-item">@phase.phase_name</a>
                }
            </div>
        }
    </div>
</div>
@{ Html.RenderAction("GetAssignmentsByProjectIdPartial", "Assignment", new { projectId = Model.parent_id, phaseId = Model.id }); }
@{ Html.RenderAction("AddAssignmentPartial", "Assignment", new { projectId = Model.parent_id, phaseId = Model.id }); }










